.contactanos-page {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff00;
  margin-left: 0px;
}

.contactanos-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

.contactanos-title {
  font-size: 32px;
  color: #030222;
  text-align: center;
  margin-bottom: 30px;
}

.contactanos-form {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contactanos-form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.contactanos-form-group label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.contactanos-form-group input,
.contactanos-form-group textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.contactanos-submit-button {
  background-color: #d74849;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.contactanos-submit-button:hover {
  background-color: #c13e3f;
}