.registerPage {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff00;
  margin-left: 550px;
}

.registerContainer {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

.registerTitle {
  font-size: 32px;
  color: #030222;
  text-align: center;
  margin-bottom: 30px;
}

.registerForm {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.registerFormGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.registerLabel {
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.registerInput {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.registerButton {
  background-color: #d74849;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  width: 100%;
  margin-top: 15px;
}

.registerButton:hover {
  background-color: #c13e3f;
}

.loginLink {
  text-align: center;
  margin-top: 20px;
}

.loginLinkAnchor {
  color: #d74849;
  text-decoration: none;
  font-weight: bold;
}

.loginLinkAnchor:hover {
  text-decoration: underline;
}